/**
* Accordeon
*/



details{
    position: relative;
    width: 130px;
}

details[open] {
    width: 300px;
}

details>summary{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

details>div{
    padding-left: 130px;
    width: 170px;
}